html,body{width: 100%;height: 100%;}
body{
    background-color: #fff;color: #333;
    font-family: "Arial","Microsoft yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", "Microsoft Yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", STXihei, "华文细黑", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;}

header{height: 60px;border-bottom: 1px solid #f0f0f0;line-height: 60px;margin-bottom: 30px;min-width: 1170px;}
header .navbar-nav li{width: 100px;cursor: pointer;}
.navbar-nav > li > a{padding: 0;margin-top: 21px;display: inline-block;}
.navbar-nav > li > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{background-color: #fff;}
header .navbar-nav li.nav-news .caret{color: #bbb;margin-top: -2px;}
header .navbar-nav li.nav-news:hover .caret{color: #3da9f7;}
header .header-column{display: none;position: absolute;width: 100%;min-width: 1170px;height: 110px;background-color: rgba(255, 255, 255, 0.97);box-shadow: 0px 2px 5px rgba(0, 0, 0, .15);z-index: 20;}
header .header-column ul li{float: left;}
header .header-column ul li a{color: #333;line-height: 110px;border-right: 1px solid #f0f0f0;padding: 0 30px;font-size: 16px;}
header .header-column ul li a:hover{color: #3da9f7;}
header .header-column ul li:first-child a{padding-left:0;}
header .header-column ul li:last-child a{border:none;}
header .header-column-user{display:none;}
header .header-column-user .badge{background-color: #f63756;position: absolute;margin-top: 32px;margin-left: -7px;}
header .header-column-user ul {float: right;margin-right: -30px;}

.repair-box{position: relative;width: 100%;height: 100%;background: #2b3147;z-index: 100000}
.repair-box img{width: 100%;height: 200px;}

.explain-box{position: absolute;font-size: 14px;color: #999;margin-top: 60px;}
.explain2{margin-left: 109px;}
.explain3{margin-left: 217px;}
.explain4{margin-left: 326px;}
a{color: #333;}
a:hover{color: #3da9f7;text-decoration:none;}
a:link{text-decoration:none;}
img{width: 100%;}
.c1{color: #333;}
.c2{color: #bbb;}
.c3{color: #bbb;}
.c4{color: #f63756;}
.c5{color: #555;}
p{margin: 0;}
header .navbar-left{margin-left: 80px;font-size: 18px;}
header .navbar-right{font-size: 16px;color: #bbbbbb;margin-right: 10px;}
.navbar-nav.navbar-right li{width: 60px;}
.navbar-nav.navbar-right .user-head{width: 76px;}
.navbar-nav.navbar-right .user-head a{width:36px;height:36px;margin-top: 11px;margin-left: -7px;display: block;}
.navbar-nav.navbar-right .user-head img{position: absolute;border-radius: 18px;}
.navbar-nav.navbar-right .user-head .caret{margin-left: 46px;color: #bbb;margin-top: 20px;}
.navbar-nav.navbar-right .user-head .nums{position: absolute;right: -2px; top: 1px; font-style: normal;color: #fff;background-color: #f63756;border-radius: 50px;width: 10px;height: 10px;padding: 0px; }
header .navbar-right li:last-child a{width: 70px;height: 40px;color: #fff;background-color: #3ca5f6;display: block;margin-top: 10px;line-height:40px;text-align:center;}
header .navbar-right li:last-child a:hover{color: #fff;background-color: #2f99ea;}
input:-webkit-autofill{background-color: red !important;}
/*搜索*/
header .navbar-right .input{height: 30px;line-height:30px;}
.search-box{
    width: 100%;height: 100%;background-color: rgba(255,255,255,0.98);position: absolute;z-index: 100;overflow: auto;
    /*-webkit-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);*/
    /*-moz-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);*/
    /*-ms-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);*/
    /*-o-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);*/
    /*transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);*/
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;}
.search-box-last{
    opacity: 1;
}
.search-box.active{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.search-content{position:absolute;width: 550px;left: 50%;margin-left: -275px;padding-top: 95px;}
.overlay-dialog-animate {
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation: scale-fade 500ms forwards cubic-bezier(.8, .02, .45, .91);
    animation: scale-fade 500ms forwards cubic-bezier(.8, .02, .45, .91);
}



.container{padding: 0 0;width: 1170px !important;}
.container>.navbar-header{float: left;margin-right: 0;margin-left: 0;margin-top: -2px;}
.container>.navbar-header img{width: 63px;}
.navbar-nav {margin: 0;}
.navbar-left {float: left!important;}
.navbar-right {float: right!important;}
.navbar-nav>li {float: left;}


.wrap-left{width: 800px;margin-right: 30px;}
.wrap-right{width: 340px;}
.big-pic{position: relative;width: 800px;height: 449px;margin-bottom: 30px;overflow: hidden;}
.big-pic .back-img,.big2-pic .back-img{position: absolute;width: 100%;}
.big-pic-content,.big2-pic-content{
    position:absolute;width: 800px;height: 450px;z-index: 10;cursor: pointer;display:block;
}
.big2-pic-content .t-h1{font-size: 18px;color: #fff;line-height: 1.5;font-weight: normal;word-wrap: break-word;word-break: normal;}


.big-pic:before,.big2-pic:before,.topic-content:before{
    content: "";position: absolute;width: 100%;height: 100%;z-index: 1;opacity: 1;
    -webkit-transition: all 0.3s ease;transition: all 0.3s ease;
    background:-webkit-gradient(linear,0 50%,0 100%,from(rgba(0, 0, 0, 0)),to(#000));
    background:-moz-linear-gradient(top, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), #000);
    background:-ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),#000);
    background:-o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),#000);
}
.big-pic:hover:before,.big2-pic:hover:before,.topic-content:hover:before{opacity: 0.9;}



.big-pic img,.big2-pic img,.mod-thumb img,.topic-content img,.hot-article-img img{
    width: 100%;-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;-ms-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}

.big-pic:hover img,.big2-pic:hover img,.mod-thumb:hover img,.topic-content:hover img,.hot-article-img:hover img{
    -webkit-transform: matrix(1.04,0,0,1.04,0,0);
    -moz-transform: matrix(1.04,0,0,1.04,0,0);
    -ms-transform: matrix(1.04,0,0,1.04,0,0);
    -o-transform: matrix(1.04,0,0,1.04,0,0);
    transform: matrix(1.04,0,0,1.04,0,0);}

.t-h1{margin:0 30px;bottom: 22px;position: absolute;word-break: break-all;line-height: 42px;font-size: 28px;color: #fff;}

.t-top2-a{line-height: 1.5;}
.big2-pic,.big2-pic-right{position: relative;width: 385px;height: 217px;background-color: #fafafa;overflow: hidden;}
.big2-pic-content{width: 385px;height: 217px;overflow: hidden;}
.big2-pic-content a{font-size: 18px;color: #fff;}

.big2-pic-right .article-title{padding: 20px 20px 0 20px;font-size: 18px;line-height: 28px;}
.big2-pic-right .article-author{margin: 30px 20px; border-top: 1px solid #f0f0f0;}
.big2-pic-right .article-author .mob-author{margin: 10px 0;}

.span-mark-author{ display: inline-block;border-bottom:4px solid #f63756; position: absolute; z-index: 1; height: 28px;line-height: 20px; margin:-28px 0 0 0;font-size: 16px;}
.span-mark-author-l{ display: inline-block;border-bottom:4px solid #f63756; position: absolute; z-index: 1; height: 28px;line-height: 20px; margin:-40px 0 0 0;font-size: 16px;}
.mod-info-flow{display: inline-block;}
.mod-b{padding: 30px 0;height: 185px;border-bottom: 1px solid #f0f0f0;width: 800px;}
.mod-b:last-child{border: none;}
.mob-ctt{position: relative;float: right; margin:0 30px;width: 520px;margin-top: -120px;}
.mob-ctt h3{margin-top: -5px;}
.mob-ctt h3 a{font-size: 18px;}
.mob-sub{font-size: 14px;color: #999;line-height: 24px;}
.mob-author{margin: 15px 0;}
.mob-author .author-face{position: absolute;width: 25px;height: 25px;}
.mob-author .author-face img{width: 100%;overflow: hidden;border-radius: 25px;height: 25px;}
.mob-author .author-name,.mob-author .time,.mob-author em{color: #bbb;line-height: 24px;margin-left: 7px;font-style: normal;}
.mob-author .author-name{margin-left: 36px;}
.mob-author .author-name.no-face{margin-left: 0px;}
.mod-b-push .mob-author .author-name{margin-left: 36px;}
.mob-author .time{margin-left: 30px;}
.mob-author em{margin-left: 5px;}
.mod-thumb{width: 220px;height: 124px;overflow: hidden;}

.mod-b.dp-box-active{border:none;}
.dp-box-warp{border-bottom: 1px solid #f0f0f0;padding-bottom: 30px;}
.dp-box-warp .dp-box{margin-top: 0px;}
.mob-author .qr-moments-box{display: inline-block;}
.mob-author .qr-moments{position: absolute;width: 130px;height: 130px;box-shadow: 0 0 6px rgba(14, 22, 30, 0.30);margin: -165px 0 0 -32px;z-index: 100;display: none;}

.mob-author .qr-moments:before{
    content: '';  display: block; position: absolute; width: 0; height: 0; border: 8px solid transparent; border-top: 10px solid rgba(0,0,0,.1);top: 130px;left: 56px;}

.mob-author .qr-moments:after{
    content: ''; display: block;position: absolute;  width: 0; height: 0; border: 8px solid transparent; border-top: 10px solid #fff; top: 129px; left: 56px;}

.mod-b-push{height: 340px;}
.mod-b-push .mod-thumb{width: 500px;height: 280px;}
.mod-b-push .mob-ctt{width: 240px;margin-top: -280px;}
.mod-b-push .mob-ctt h3 a{font-size: 28px;line-height: 1.5;}
.promote{height: 116px;font-size: 18px;}
.promote .mod-thumb{height: 56px;width: 100px;}
.promote .mob-ctt{margin: 0;margin-top: -40px; width: 670px;}
.promote .span-mark-pro{height: 28px;padding: 0 11px;;background-color: #f63756;color: #fff;float: right;text-align: center;line-height: 28px;font-size: 14px;}
.promote .point{color: #ccc;margin: 0 6px;text-align: center;font-size: 20px;}

.promote-box .project-pic{height: 56px;width: 100px;position: absolute;border:none;}
.promote-box .project-content{margin-left: 98px;font-size: 16px;}
.promote-box .point{color: #ccc;font-size: 18px;margin: 0 5px;}
.promote-box ul li:last-child{border: none;}
.promote-box .mod-thumb{width: 78px;height: 44px;position: absolute;}
.promote-box ul li{padding: 30px 30px !important;}
.icon{display: inline-block;vertical-align: text-bottom;background-image: url(img/icon.png);background-repeat: no-repeat;width: 20px; height: 20px;}
.i-icon{position:relative;width: 20px; height: 20px;display: inline-block;vertical-align: text-bottom;background-image: url(img/icon.png);background-repeat: no-repeat;width: 20px; height: 20px;}
.icon-footer{position:relative;width: 40px; height: 40px;}
.icon-auth1{background-position:-325px -275px;margin-left: 10px;}
.icon-auth2{background-position:-325px -304px;margin-left: 10px;}
.icon-auth3{background-position:-325px -335px;margin-left: 10px;}
.icon-auth4{background-position:-325px -364px;margin-left: 10px;}
.icon-auth5{background-position:-325px -395px;margin-left: 10px;}
.icon-team-auth{background-position:-325px -424px;margin-left: 10px;}
.icon-article{position:relative;width: 60px; height: 60px;}
.icon-fvr{background-position: -106px -3px;margin-left: 15px;cursor: auto !important;}
.icon-cmt{background-position: -67px -1px;cursor: auto !important;}
.icon-line-face{background-position: -159px -5px;float: left;}
.icon-line-pl{position: absolute;background-position: -389px -11px;margin-top: -20px;margin-left: 90px;}
.icon-line{background-position: -145px -1px;}
.icon-weibo{background-position: 0px -38px;}
.icon-moments{background-position: -37px -37px;}
.icon-Qzone{background-position:-76px -37px;}

.icon-weibo:hover{background-position: 0px -73px;}
.icon-moments:hover{background-position: -37px -74px;}
.icon-Qzone:hover{background-position: -76px -73px;}

.icon-footer-wb{background-position: 10px -104px;}
.icon-footer-wx{background-position: -49px -105px;}
.icon-footer-ios{background-position: -111px -105px;}
.icon-footer-android{background-position: 12px -185px;}
.icon-footer-inter{background-position: -48px -184px;}
.icon-footer-rss{background-position: -109px -185px;}

.icon-footer-wb:hover{background-position: 9px -144px;}
.icon-footer-wx:hover{background-position: -50px -145px;}
.icon-footer-ios:hover{background-position: -112px -145px;}
.icon-footer-android:hover{background-position: 12px -226px;}
.icon-footer-inter:hover{background-position: -48px -225px;}
.icon-footer-rss:hover{background-position: -109px -226px;}

.icon-top{background-position:-180px 19px;width: 60px;height: 60px;}
.icon-search{background-position: -210px -81px;position: relative;top: 3px;left: 5px;}
.icon-search:hover{background-position: -320px -11px;}
.icon-point{background-position:-160px -120px;width: 50px;height: 33px;}
.icon-search-btn{position:absolute;right:0;background-position:-262px -68px;width:40px;height: 40px;cursor: pointer;}
.icon-search-close{position: absolute;right: 60px;top: 60px;background-position: -260px -120px;cursor: pointer;}

.icon-article-wb{background-position: 10px -259px;}
.icon-article-pyq{background-position: -50px -259px;}
.icon-article-qzone{background-position:-121px -259px;}
.icon-article-pl{background-position: -180px -259px;}
.icon-article-col{background-position: -249px -259px;}
.icon-article-zan{background-position: -367px -267px;height: 48px;width: 35px;display: inline-block;}
.icon-article-zan-add{background-position:-362px -401px;height: 48px;width: 35px;display: inline-block;}


.icon-dp{background-position: -170px -173px;}
.icon-like{background-position: -220px -173px;cursor: pointer;}
.icon-like.active{background-position: -220px -223px;}
.icon-no-like{background-position:-270px -171px;cursor: pointer;}
.icon-no-like.active{background-position: -270px -221px;cursor: pointer;}

.icon-search-list{background-position: -271px -10px;margin-top: 20px;}

.btn-dp{color: #bbb;cursor: pointer;width: 88px;}
.icon-first{background-position: -327px -179px;}
.icon-lt{background-position: -325px -230px;}
.icon-gt{background-position: -374px -229px;}
.icon-last{background-position: -369px -179px;}
.icon-close{background-position: -320px -120px;}
.icon-close:hover{background-position: -260px -120px;}
.pagination>li>a{padding: 6px 0;}
.pagination>.disabled>a,.pagination>.disabled>a:hover{background-color: #f0f0f0;}
.icon-zhifb {background-position: -40px -373px;width: 74px;height: 48px;}
.icon-weix {background-position: 20px -374px;width: 74px;height: 48px;}
.icon-zhifb-none {background-position: -40px -418px;width: 74px;height: 48px;}
.icon-weix-none {background-position: 20px -414px;width: 74px;height: 48px;}
.icon-ds-line{position: absolute; background-position:-110px -396px;width: 40px;height: 43px;margin-top: 6px;margin-left: -86px;}

.btn-dp:hover{color: #3da9f7;}
.btn-dp:hover .icon-dp{background-position: -170px -223px;}
.icon-like-prompt{position: absolute;opacity: 0;margin-top: -13px;}
.icon-no-like-prompt{position: absolute;opacity: 0;margin-top: -13px;margin-left:33px;margin-top: -17px;}
.article-type{color: #bbb;}
.article-type ul li{float: left;cursor: pointer;}
.article-type ul li:first-child{margin-right: 15px;}
.article-type ul li:first-child:hover .icon-like{background-position: -220px -223px;}
.article-type ul li:last-child:hover .icon-no-like{background-position: -270px -221px;}

.modal-header .close {color: #fff;opacity: 1;font-size: 30px;text-shadow: 0 0 0 rgba(0, 0, 0, 0);margin: -5px 0 0 0;}

.mob-author .icon-share,.mob-author .icon-cmt,.mob-author .icon-weibo,.mob-author .icon-moments,.mob-author .icon-Qzone{margin-left: 20px;}
.mob-author .icon-line{margin-left: 12px;}
.mob-author .icon{cursor: pointer;}
.get-mod-more{display: inline-block;height: 60px;width: 100%;line-height: 60px;border:1px solid #f0f0f0;margin-bottom: 60px;color: #bbb;font-size: 16px;text-align: center;cursor: pointer;margin-top: -6px;}
#loading{height: 60px;width: 100%;line-height: 60px;color: #bbb;font-size: 16px;text-align: center;cursor: pointer;margin-top: -6px;}
.get-mod-more:hover{background-color: #fafafa;color: #999;border-color:#fafafa;}
/*.js-get-pl-more-list{margin-top: 55px;}*/

.topic-title{height: 50px;line-height: 50px;background-color: #f63756;color: #fff;padding: 0 30px 0 20px;}
.topic-title h2{font-size: 20px;font-weight: normal;line-height: 12px;}
.topic-title span{color: #ffb6c2}
.box-topic{margin-bottom: 28px;}
.box-topic .topic-content{position: relative;width: 340px;height: 190px;overflow: hidden;}
.box-topic .topic-content .back-img{position: absolute;width: 100%;}
.box-topic .topic-pic-title{
    position:absolute;width: 340px;height: 190px;z-index: 2;font-weight: normal;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;}
.box-topic .topic-pic-title:hover{opacity: 1;}
.box-topic .topic-pic-title{color: #fff;font-size: 18px;}
.box-topic .big2-pic,.box-topic .big2-pic-content{width: 340px;}
.box-topic .big2-pic img{height: 217px;width: inherit}

.box-moder {background-color: #fafafa;}
.box-moder h3{margin: 0;height: 60px;}
.box-moder h3 b{font-size: 20px;font-weight: normal;padding: 30px 30px 0 30px;display: inline-block;margin: 0;}
.box-moder form{padding:20px 30px 0 30px;}
.span-mark{ display: inline-block;background-color: #f63756; position: absolute; z-index: 1; height: 20px;line-height: 20px; margin:-28px 0 0 0;width: 4px;}

.box-author-info{display: inline-block;width:340px;background-color: #fafafa;text-align: center;padding: 30px 0 30px 0;margin-bottom: 30px;}
.box-author-info .author-face{position: relative;width: 98px;height: 98px;border-radius: 49px;overflow: hidden;margin-left: -49px;left: 50%;}
.box-author-info .author-name{font-size: 16px;margin: 15px 0;}
.box-author-info .author-one,.box-author-info .author-professional{font-size: 14px;margin: 12px 0 ;color: #bbb;}
.box-author-info .author-article-pl{color: #bbbbbb;}
.box-author-info .author-article-pl a{color: #bbbbbb;}
.box-author-info .author-article-pl a:hover{color: #333;}
.box-author-info .author-article-pl ul li{float: left;}
.box-author-info .author-article-pl ul li:first-child{width: 50%;text-align: right;padding-right: 20px;}


.article-left-btn-group{width: 60px;float: left;position: fixed;z-index: 10;}
.article-left-btn-group ul li{width: 60px;cursor: pointer;background-color: #fafafa;border-bottom: 1px solid #f0f0f0;}
.article-left-btn-group ul li:nth-child(3),.article-left-btn-group ul li:last-child{border:none;margin-bottom: 10px;}
.article-left-btn-group ul li:nth-child(1):hover .icon-article-wb{background-position: 11px -318px;}
.article-left-btn-group ul li:nth-child(2):hover .icon-article-pyq{background-position: -50px -319px;}
.article-left-btn-group ul li:nth-child(3):hover .icon-article-qzone{background-position: -121px -319px;}
.article-left-btn-group ul li:nth-child(4):hover .icon-article-pl{background-position: -180px -319px;}
.article-left-btn-group ul li:nth-child(5):hover .icon-article-col{background-position: -249px -320px;}

.article-left-btn-group ul li:nth-child(5).active{background-color: #fbc032;border: none;}
.article-left-btn-group ul li:nth-child(5).active .icon-article-col{background-position: -249px -320px;}


.article-left-btn-group ul li:before {
    content: ""; position:absolute;z-index: 0;
    width: 60px; height: 62px;opacity: 0;
    -webkit-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    -moz-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    -ms-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    -o-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);}

.article-left-btn-group ul li:nth-child(1):hover:before{background-color: #f74864;}
.article-left-btn-group ul li:nth-child(2):hover:before{background-color: #1ec354;}
.article-left-btn-group ul li:nth-child(3):hover:before{background-color: #ffce0b;}
.article-left-btn-group ul li:nth-child(4):hover:before{background-color: #3091f4;}
.article-left-btn-group ul li:nth-child(5):hover:before{background-color: #fbc032;}
.article-left-btn-group ul li:nth-child(6):hover:before{background-color: #f63756;}

.article-left-btn-group ul li:hover:before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.article-left-btn-group .weixin-Qr-code{
    display: none;position: absolute; width: 130px;height: 130px;margin-left: 80px; margin-top: -35px;box-shadow: 0 0 6px rgba(14, 22, 30, 0.30);background-color: #fff; z-index: 10;}
.article-left-btn-group .weixin-Qr-code:before{
    content: '';  display: block; position: absolute; width: 0; height: 0; border: 8px solid transparent; border-right: 10px solid rgba(0,0,0,.3);top: 57px;left: -18px;}
.article-left-btn-group .weixin-Qr-code:after{
    content: ''; display: block;position: absolute;  width: 0; height: 0; border: 8px solid transparent; border-right: 10px solid #fff; top: 57px; left: -18px;}

.article-wrap{width: 740px;float: left;padding-left: 30px;margin-left: 60px;}
.article-wrap .t-h1{font-size: 28px;margin: 0;position: inherit;line-height: 1.5;color: #333;word-wrap: break-word;word-break: normal;}
.article-wrap .author-name{color: #333;}
.article-wrap .article-author{color: #bbb;font-size: 16px;margin: 20px 0 27px 0;}
.article-wrap .article-time{margin: 0 15px 0 10px;}
.article-wrap .article-share{margin: 0 15px 0 0;}
.article-wrap img{width:auto;max-width: 100%;}
.article-content-wrap {font-size: 16px;line-height: 30px;margin-top: 25px;}

.promote-box-article{height: 95px;border:1px solid #f0f0f0;margin-bottom: 30px;}
.promote-box-article .mod-thumb{margin: 20px 0 0 20px;}
.promote-box-article .mob-ctt{width: 548px;margin-top: -57px;margin-right: 20px;}


ul{padding: 0;margin: 0;list-style-type:none;}
.moder-group-list ul{padding: 0;margin: 0;list-style-type:none;}
.moder-group-list ul li{height: 60px;line-height: 60px;border-bottom:1px solid #f0f0f0;padding: 0 30px;}
.moder-group-list ul li a{font-size: 16px;}
.moder-group-list ul li span{color: #bbb;}
.moder-group-list ul li span:last-child{margin-right: 10px;}
.moder-group-list ul li:last-child{border: none;}
.placeholder{height: 30px;}
.moder-project-list ul li{height: 105px;padding: 21px 30px;;border-bottom:1px solid #f0f0f0;}

.project-more{position: relative;top: -30px; right: 30px;}
.project-more a{color: #bbb;}
.project-more a:hover{color: #333333;}

.moder-project-list .project-info {padding: 0 0 25px 0;margin-top: -9px;}
.moder-project-list .project-info li{height: auto;border: none;color: #bbb;padding: 5px 30px;}
.project-pic{width: 62px;border:3px solid #eeeeee;height: 62px;position: absolute;overflow: hidden;}
.project-pic img{height: 100%;}
.project-content{margin-left: 80px;margin-top: -2px;}
.project-content .project-title{font-size:16px;}
.project-content p{color: #bbb;line-height: 24px;}
.btn-blue-cy{width: 280px;height: 50px;background-color: #3ca5f6;color: #fff;font-size: 18px;text-align: center;line-height:40px;border-radius: 0;}
.project-btn-box{padding: 30px;}
.btn-blue-cy:hover{background-color: #2f99ea;color: #fff;}
.hot-article ul{}
.hot-article ul li{padding: 30px 30px 24px 30px;border-bottom:1px solid #f0f0f0;overflow: hidden;}
.hot-article ul li:last-child{border:none;}
.hot-article ul li .hot-article-img{width: 280px;height: 158px;overflow: hidden;margin-bottom: 20px;}
.hot-article ul li img{overflow: hidden;margin-bottom: 20px;}
.hot-article ul li a{font-size: 16px;line-height: 28px;}

.hot-article .span-mark-pro{position: absolute;height: 28px;width: 50px;background-color: #f63756;color: #fff;float: left;text-align: center;line-height: 28px;font-size: 14px;margin-top: 130px;}

.hot-tag .search-hot{margin: 0  0  0 30px;}

.moder-user-list{min-height: 830px;}
.moder-user-list ul li{height: 90px;}
.moder-user-list .project-content {margin-left:70px;margin-top: 0px;}
.moder-user-list .project-content .project-title{font-size: 14px; line-height: 47px;}
.moder-user-list .project-pic{width: 47px;height: 47px;border: none;overflow: hidden;border-radius: 47px;}


.search-input-list{height: 60px;width: 100%;border: 1px solid #f0f0f0;font-size: 18px;padding-left: 20px;}
.search-btn{position: absolute;margin-left: -80px;width: 80px;height: 60px;text-align: center;background-color: #3ca5f6;display: inline-block;cursor: pointer;border: none !important;line-height: 60px;box-shadow: none !important;}
.search-btn:hover{background-color: #2f99ea;}
.search-wrap-list-ul h2{font-size: 18px;line-height: 28px;}
.search-wrap-list-ul .mob-summay{font-size: 14px;color: #bbb;line-height: 24px;}
.search-wrap-list-ul .mob-author{color: #bbb;margin: 10px 0;}
.search-wrap-list-ul em{color: #f63756;font-style: normal;}
.search-wrap-list-ul li{border-bottom: 1px solid #f0f0f0;padding: 5px 0 12px 0;}
.no-relevant-info{text-align: left;font-size: 16px;color: #bbb;margin-top: 80px;margin-left: 30px;}
.search-list-warp .no-relevant-info{text-align: center;margin-left:0;}

/*广告*/
.r-box-ad1,.r-box-ad2{width: 340px;height: 274px;overflow: hidden;}
.top-box-ad{margin-bottom: 30px;}
.top-box-ad-banner{margin: -15px 0 15px 0;}
.feed-box-ad{height: 140px;border-bottom: 1px solid #f0f0f0;padding: 30px 0;}
.bottom-box-ad{margin: 0 0 60px 0;}
.article-box-ad{margin: -5px 0 0px 0;border: none;}
.article-pl-box-ad{display: inline-block;margin:-20px 0 -40px 0;border: none;padding:0}
.article-bottom-box-ad{margin:-70px 0 10px 0;border: none;}
.feed-box-ad img,.bottom-box-ad img{height: 80px;width: 100%;}

#login_model .modal-footer{padding: 0;}

/*公用过渡*/
.transition{-webkit-transition: all .2s ease-out;-moz-transition: all .2s ease-out;-ms-transition: all .2s ease-out;-o-transition: all .2s ease-out;transition: all .2s ease-out;}
/*打赏*/
.Qr-code { position: relative;padding: 50px 0 0 0;z-index: 1;height: 98px;}
.btn-other-ds-css{  height: 40px;  line-height: 39px;  padding: 0px 44px; font-size: 18px;margin-top: 20px; background-color: #D53303; color:#fff;}
.btn-other-ds-css:hover{color:#fff;}
.Qr-code .info-false{
    height: 0;overflow: hidden;  opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
.Qr-code .info-true{
    opacity: 1;
    height: auto;
    overflow: initial;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
/*点赞*/
.praise-box{text-align: center;height: 48px;width: 148px;border:1px solid #f6f6f6;line-height: 48px;color: #bbb;cursor: pointer;}
.praise-box:hover{background-color: #f63756;border-color: #f63756;color: #fff;}
.praise-box.active .icon-article-zan{background-position: -362px -400px;}
.praise-box:hover .icon-article-zan{background-position: -367px -333px;}
.praise-box.center-box{margin: 0 auto;}
.praise-box span{position: relative;top: -15px;}
.praise-box-add {position: absolute;margin-top: -40px;margin-left: 50px;color: #333;opacity: 0;}


.j-btm{position:relative;border:1px solid #ddd;z-index:1;}
.j-btm:after,.j-btm:before{content:'';display:block;position:absolute;width:0;height:0;border:5px solid transparent;}
.j-btm:after {border-top:5px solid #ddd;bottom:-11px;z-index:1;}
.j-btm:before {border-top:5px solid #fff;bottom:-10px;z-index:2;}

/*支付宝，微信打赏*/
.zfb-wx-box{margin-top: 20px;}
.tabset-box{border-top: 1px solid #cacaca;width: 545px;margin-top: -1px;padding-top: 30px;}
.zfb-wx-box .about-menu ul li.active:last-child{border-right: 1px solid #cacaca;}
.zhifubao-prompt,.weixin-prompt{width: 544px;height: 112px;background-color: #fffced;padding: 15px 20px;border: 1px solid rgba(217, 213, 194, 0.36);}
.weixin-prompt{height: 55px;text-align: center;line-height: 27px;}
.zhifubao-prompt p{line-height: 2;}
.zhifubao-prompt p a,.weixin-prompt p a{color: #348cdf;}
.zhifubao-label{position: absolute;}
.dropdown-box-zfb{margin-left: 55px;}
.tab-weixin .note{color: #bbb;margin: 20px 0;}
.wx-phone-box{position: absolute;width: 94px;height: 94px;border:1px dashed #cacaca;}
.wx-phone{position: relative;margin-left: -26px;width: 52px;height: 52px;border: 1px solid #cacaca;left: 50%;top:50%;margin-top: -26px;overflow: hidden;}
.wx-phone img{width: 100%}
.update-phone-box{position: relative;margin-left: 120px; margin-bottom: 40px;top: 20px;}
.article-zfb-wx-box{width: 148px;height: 48px;background-color:#fafafa;}
.article-zfb-wx-box ul{margin: 0}
.article-zfb-wx-box ul li{float:left;list-style-type:none;width: 50%;cursor: pointer;display: inline-block;height: 48px;text-align: center;}
.li-wxin {position:relative;}
.zfbdashang-wrap,.wxdashang-wrap,.wxshare-wrap {position:absolute;margin-top: -170px;margin-left: -20px;;width:100px;height: 125px;box-shadow:0 2px 8px 2px #ddd;border-radius:5px;display:none;background:#fff;}
.zfbdashang-wrap i,.wxdashang-wrap i,.wxshare-wrap.wxshare-wrap i {display:block;font-style:normal;font-size:12px;margin-bottom:-3px;line-height:20px;}
.zfbdashang-wrap img,.wxdashang-wrap img,.wxshare-wrap img {max-width:100%;border-radius:5px;display: inline-block;overflow: auto;width: 100%;}
.wxshare-wrap.wxshare-wrap:after,.wxshare-wrap:before {left:45px;}
.zfbdashang-wrap:after,.zfbdashang-wrap:before{left:45px;}
.wxdashang-wrap:after,.wxdashang-wrap:before{left:45px;}
.zfbdashang-wrap{margin-left:-20px;opacity: 0;}
.wxdashang-wrap{margin-left:-20px;opacity:0;}
.share-c-fri:hover{background: #65c92c;border: 1px solid #65c92c}
.share-c-fri:hover .icon-c-fri{background-position:-50px -50px;}

.btn-exceptional{width: 148px;height: 48px;line-height: 36px;background-color: #f63756;border-radius: 0;color: #fff;font-size: 18px;}
.btn-exceptional:hover{background-color: #ec2b4b;color: #fff;}

.article-wrap .tag-box{border-top:1px solid #f0f0f0;padding-top: 20px;display: inline-block;width: 100%;margin-top: 30px;}
.article-wrap .tag-box ul li{float: left;height: 35px;padding: 0 15px;background-color: #f0f0f0;color: #bbbbbb;line-height: 35px;margin-right: 10px;margin-bottom: 10px;}
.article-wrap .tag-box ul li:hover{background-color: #ececec;color: #999;}
.article-wrap .article-img-box{text-align: center;}
.pl-wrap{margin-top: 50px;}
.pl-form-wrap {border-top:1px solid #f0f0f0;margin-bottom:30px;}
.pl-list-wrap .span-mark-author,.pl-form-wrap .span-mark-author{font-size: 18px;border:none;color: #bbb;}
.dp-box .span-mark-author{font-size: 16px;color: #333;border-bottom:4px solid #f63756;}
.pl-list-wrap .span-mark-author.new,.pl-form-wrap .span-mark-author.new{margin-left: 110px !important;}
.pl-list-wrap .span-mark-author.active,.pl-form-wrap .span-mark-author.active{border-bottom: 4px solid #f63756;color: #333333;}
.pl-list-wrap .js-default-new-pl{border: none !important;margin: -21px 0 0 0;}
.pl-list-wrap .js-default-new-pl:hover{color: #333333;}
.pl-form-author{margin-top: 30px;}
.author-info{margin: 0 0 15px 0;display: inline-block;}
.author-info .author-face{width: 50px;height: 50px;border-radius: 25px;overflow: hidden;float: left;}
.author-info .author-name{top: 17px;position: relative;margin-left: 20px;}
.author-info .time{position: relative;color: #bbb;top: 17px;margin-left: 20px;}

/*.pl-form-box textarea:focus{box-shadow: none;outline:none;border-color: #dddddd;background-color: #fff;}*/
.btn-article {width: 148px;height: 48px;line-height: 38px;color: #fff;background-color: #3ca5f6;font-size: 18px;border-radius: 0;margin-top: 20px;margin-bottom: 30px;}
.dp-article-box .btn-article{margin-bottom: 5px;}
.btn-article:hover{color: #fff;background-color: #2f99ea;}
.btn-article:focus{color: #fff;}
.no-login-box{height: 220px;width: 100%;border: 1px solid #f0f0f0;background-color: #fafafa;margin-top: 40px;text-align: center;color: #bbb;font-size: 18px;line-height: 220px;}
.no-login-box a{border-bottom: 1px solid #333;color: #333;cursor: pointer;padding-bottom: 5px;}
.no-login-box a:hover{color: #3da9f7;border-color: #3da9f7;}


.pl-list-wrap{margin-top: 80px;position: relative;margin-bottom: 60px;}
.pl-box-wrap{padding: 30px 0;border-top: 1px solid #f0f0f0;}
.pl-list-wrap .pl-box-wrap{position: relative;top: 30px;}
.pl-loading{position: absolute;width: 100%;height: 100%;text-align: center;padding-top: 100px;font-size: 18px;color: #999;z-index: 10;}
.pl-loading img{width: 30px;margin-bottom: 20px;}
/*.pl-box-wrap .dropdown{z-index: 2;}*/
.pl-box-wrap .dropdown button{height: 30px;width: 30px;border-radius: 0;color: #3ca5f6;border: 2px solid #f6f6f6;}
.pl-box-wrap .btn-default:hover,.pl-box-wrap .btn-default.active,.pl-box-wrap .btn-default:active,.pl-box-wrap .open>.dropdown-toggle.btn-default{color: #fff;background-color: #3ca5f6;border-color: #3ca5f6;}
.pl-box-wrap .dropdown-menu{border: none;box-shadow:0px 0px 15px rgba(18, 21, 21, 0.20);margin: 10px 0 0 0;text-align: center;width: 120px;min-width:10px;border-radius: 0;}
.pl-box-wrap .dropdown-menu li{color: #bbb;font-size: 16px;margin: 12px 0;cursor: pointer;}
.pl-box-wrap .dropdown-menu li:hover{color: #333;}
.pl-box-wrap .pl-content{line-height: 24px;}
.pl-box-wrap .dropdown .btn .caret {margin:-6px 0 0 -3px;}
.btm-yl{height:24px;width:50px;color:#fff;line-height:24px;background:#f63756;position:absolute;margin-top: -30px;text-align:center}

.pl-box-wrap.active{border-top-color:#f63756}
/*.pl-box-wrap.active+.pl-box-wrap{border-top-color:#f63756}*/

.pl-box-btm{margin-top: 15px;}
.pl-box-btm .pl-form-box{display: none;}
.more-pl-box-wrap{font-size: 20px;color: #bbb;cursor: pointer;text-align: center;width: 100%;height: 60px;background-color: #fff;line-height: 60px;margin-bottom: 70px;border: 1px solid #f0f0f0;}
.more-pl-box-wrap:hover{background-color: #fafafa;border-color: #fafafa;}
.dp-box{padding:20px;background-color: #f6f6f6;margin-top: 20px;}
.dp-box:before{content: '';display: block;position:relative; width: 0; height: 0;border: 10px solid transparent;border-bottom: 15px solid #f6f6f6;top: -44px;left: 10px;}
.dp-box .dl-user{padding-top: 20px;border-top:1px solid #f0f0f0;}
.dp-box .dl-user-list{cursor: pointer;}
.dp-box .dp-list-box .dl-user{margin-bottom: 30px;}

.dp-box .dl-user q {display:inline-block;width:100px;overflow:hidden;height:20px;line-height:18px;vertical-align:text-bottom;padding:2px 5px;background:#0479c4;color:#fff;border-radius: 5px;margin: 0 5px;opacity:.5;cursor:pointer;}
.dp-box .dl-user q:before {font-family:'Glyphicons Halflings';content:"\e140";font-size:12px;margin:0 5px 0 0;}


.dp-list-box{display: none;}
.dl-user ul{display: inline-block;}
.dl-user ul li{width: 34px;height: 34px;border-radius: 17px;float: left;overflow: hidden;margin-right: 10px;}
.one-pl-content {margin: -30px 0 0 50px;cursor: auto;}
.one-pl-content .name{color: #bbb;}
.one-pl-content .time{color: #ccc;}
.one-pl-content .content{margin-right: 120px;}

.one-pl-content .js-hf-article-pl{margin: 20px 20px 9px 0;cursor: pointer;color: #bbb;}
.one-pl-content .js-hf-article-pl span{cursor: pointer;color: #bbb;}
.one-pl-content .js-hf-article-pl span:hover{color: #333;}
.one-pl-content .hu-pl-box{margin-top: 20px;display: none;}
.one-pl-content .hu-pl-box textarea{height: 120px;}
.one-pl-content .dropdown{position: absolute;display: inline-block;margin: -30px 0 29px 50px;right: 20px;}
.one-pl-content .dropdown button {border-color: #eee;background-color: #F6F6F6;width: 22px;height: 22px;}
.one-pl-content .dropdown .btn {padding: 0;}
.one-pl-content .dropdown .btn .caret  {margin: -3px 0 0 0px;}


.span-mark-article-pl{float: right; right: 0;margin-top: -30px;color: #bbb;font-size: 16px;cursor: pointer;}
.span-mark-article-pl:hover{color: #333;}
.close-dp-list-box{width: 710px;height: 60px;background-color: #f6f6f6;color: #bbb;font-size: 16px;cursor: pointer;text-align: center;line-height: 60px;margin: 0 -20px -20px -20px; border-top: 1px solid #f0f0f0;}
.close-dp-list-box:hover{background-color: #f0f0f0;color: #bbb;}
.article-list-box{padding: 30px 0;border-top: 1px solid #f0f0f0;}
.article-box{width: 220px;height: 203px;border:1px solid #f0f0f0;float: left;margin-right: 25px;margin-bottom: 25px;}
.article-box:nth-child(3n){margin-right: 0;}
.article-box:hover{box-shadow: 0 5px 8px rgba(45, 50, 55, 0.20);margin-top: -2px;border-color:rgba(45, 50, 55, 0.20);margin-bottom: 27px;}
.article-box img{width: 100%;height: 124px;}
.article-box .article-title{padding:15px 20px 0 20px;font-size: 16px;line-height: 24px;}

.interested-article-box{display: inline-block;margin-top: 47px;margin-bottom:1px;}
.interested-article-box .span-mark-author{font-size: 20px;}

.tag-wrap .search-history span{font-size: 20px;color: #333;display: inline-block;margin-bottom: 20px;}
.tag-wrap{padding: 0 130px;margin-bottom: 20px;}

.tag-wrap .previous-step a{color: #bbb;font-size: 20px;}
.tag-wrap .previous-step a:hover{color: #333;}
.tab-set{margin-top: 40px;}
.tab-set ul{height: 58px;border-bottom: 1px solid #f0f0f0;width: 620px;}
.tab-set ul a {float:left;width: 140px;height: 58px;text-align: center;background-color: #f0f0f0;font-size: 18px;line-height: 58px;margin-right: 20px;color: #bbb;}
.tab-set ul a:hover{color: #333;}
.tab-set ul a:last-child{margin-right: 0px;}
.tab-set ul a li.active{background-color: #fff;border: 1px solid #f0f0f0;border-bottom: none;color: #333;}
.tag-cnt-box{margin-top: 10px;}
.tag-cnt-box.first-child{margin-top: 40px;}
.tag-cnt-box h3{font-size: 30px;}
.tag-cnt-box .search-history{margin-top: 0px;}
.search-letter-btn{background-color: #fff;width: 140px;height: 58px;border: 1px solid #f0f0f0;font-size: 18px;color: #bbb;line-height: 58px;padding:0 10px;cursor: pointer;text-align: center;}
.search-letter-btn:hover{color: #333;}
.search-letter-btn.active{color: #333;}
.search-letter-box {border: 1px solid #f0f0f0;padding: 20px 20px 0 22px;display: none;margin-top: 20px;}
.search-letter-box .search-history{margin-top: 0px;}
.search-letter-box ul li {width: 78px;text-align: center;}
.search-letter-box ul li:nth-child(9n) {margin-right: 0px;}
.search-letter-box ul li:last-child{border: none;color: #bbb;line-height: 33px;font-size: 16px;}
.search-letter-box ul li:last-child a{color: #bbb;}
.search-letter-box ul li:last-child:hover {background-color: #fff;color: #bbb;}
.search-letter-box ul li:last-child:hover{color: #333;}

.neirong-shouquan {font-size:14px!important;padding-top: 30px;}


/*tag-content*/
.tag-wrap .tag-title{font-size: 20px;margin: 30px 0 20px 0;}
.tag-wrap .tag-content{display: none;color: #bbb;font-size: 16px;line-height: 28px;}
.tag-wrap .tag-content.active{display: block}
.tag-wrap .tag-content .sea-more{color: #555;margin-left: 10px;cursor: pointer;}
.related-article{border-top: 1px solid #f0f0f0;margin-top: 100px;}
.related-article .span-mark-author{font-size: 20px;}
.related-article ul li{height: 75px;line-height: 75px;font-size: 16px;}
.related-article ul li .time{color: #bbb;}
.related-article ul li{border-bottom: 1px solid #f0f0f0;}
.related-article ul li:last-child{border-bottom: none;}

.more-related-article {height: 60px;color: #bbb;border: 1px solid #f0f0f0;text-align: center;font-size: 20px;line-height: 60px;cursor: pointer;margin-bottom: 60px;}
.more-related-article:hover{background-color: #fafafa;border-color: #fafafa;}

/*model弹窗*/
.modal-header {background-color: #2e3138;border-radius: 5px 5px 0 0;}
.modal-title{color: #fff;}
.lgn-wrap .form-group {margin: 15px 0 30px;}
.lgn-wrap .btn-blue {width: 100%;}
.btn-blue {color: #fff;background-color: #3ca5f6; border: 1px solid #3ca5f6;width: 240px; height: 42px; line-height: 30px;}
.btn-blue:hover, .btn-blue:focus {background-color: #2f99ea;border: 1px solid #2f99ea;color: #fff;outline: none;}
.lgn-wrap .forget-pwd a {color: #bbb;}
.lgn-wrap .forget-pwd {margin: -10px 0;}
.lgn-wrap label {font-weight: normal;font-size: 12px;}
.lgn-wrap .box-btm{margin-top: 8px;}
.lgn-wrap .box-btm .btn-reg{margin-top: 5px;color: #bbb;cursor: default;font-size: 12px;}
.lgn-wrap .t-h4 {margin: 10px 0 -10px;font-size: 14px;border: none;}
.lgn-three-btnWrap {background-color: #f2f2f2;padding: 30px;border-radius: 0 0 5px 5px;}
#page_login .login-three {margin-top: 20px;}
.lgn-wrap .t-h4 {margin: 10px 0 -36px;font-size: 14px;border: none;color: #bbb;}
#page_login .login-three .login-three-ttl{ color: #bbb; border-bottom: 1px solid #cacaca; margin-bottom: 20px;}
.login-three a {width: 174px; height: 40px;float: left; color: #fff; line-height: 40px;margin-right: 8px; border-radius: 4px;}
.login-three a i {float: left; width: 50px;height: 100%; background: url("../img/icon.png") no-repeat -126px -378px;}
.login-three a span {float: left; height: 40px;line-height: 40px; text-align: center; padding-left: 32px;}
.login-three .btn-weixin {background-color: #8bcf7b;}
.login-three .btn-weixin:hover {background-color: #7bc66a; }
.login-three .btn-weixin i { border-right: 1px solid #98db88;}
.login-three .btn-weixin span { border-left: 1px solid #67b854;}
.login-three .btn-sina {background-color: #e36f5f;}
.login-three .btn-sina:hover {background-color: #de604f;}
.login-three .btn-sina span { border-left: 1px solid #d45b4b;}
.login-three .btn-sina i { background-position: -182px -378px;border-right: 1px solid #ed8273;}
.login-three .btn-qq { background-color: #5ca3df;margin-right: 0;}
.login-three .btn-qq:hover {background-color: #4c9de0;}
.login-three .btn-qq span { border-left: 1px solid #4f8ec3;}
.login-three .btn-qq i {background-position: -229px -378px;border-right: 1px solid #6bafe9;}

/*nav pagination*/
.page-nav{text-align: center;}
.pagination{margin: 30px 0 60px 0;}
.pagination>li>a{
    position: relative;float: left;margin-left: -1px;
    line-height: 27px;color: #333;text-decoration: none;background-color: #f5f5f5;
    margin-right: 10px;border-radius: 0;height: 36px;width: 36px;border: none;}
.pagination>li:first-child>a, .pagination>li:first-child>span{border-radius: 0;}
.pagination>li:last-child>a, .pagination>li:last-child>span{border-radius: 0;}
.pagination>.active>a{background-color: #3ca5f6;}
.pagination>.active>a:hover{background-color: #2f99ea;}

/*正文*/
.text-remarks{color: #999;line-height: 30px;}
.text-big-title{font-size: 20px;font-weight: bold;}
.text-sm-title{font-size: 18px;font-weight: bold;}
.text-hxzhu{color: #999;line-height: 30px;}
.article-content-wrap blockquote {
    border:none;margin: 0;padding: 25px 30px;background-color: #fafafa; display: block; font-size: 16px;line-height: 23px;}

.article-content-wrap a{color: #333;border-bottom: 1px solid #333;padding-bottom: 5px;}
.article-content-wrap a:hover{color: #3da9f7;border-color: #3da9f7;}
.article-content-wrap .img-center-box{text-align: center;}
/*
*	jin句模块
*/
.page-jinju-box {width:690px;margin:0 auto;}
.jinju-box-top {padding:20px 0;position:relative;margin-bottom:27px;}
.jinju-box-top .t-h1 {padding-top:0;}
.jinju-box-top:after,.jinju-box-top:before {content:'';position:absolute;bottom:-16px;display:block;}
.jinju-box-top:after {border: 2px solid #cacaca;border-top:none;left:0;width:100%;}
.jinju-box-top:before {left:50%;margin-left:-5px;border: 7px solid transparent;border-top: 8px solid #cacaca;bottom: -30px;}

.jinju-box .box-top {padding:50px;position:relative;}
.jinju-box .box-top:after,.jinju-box .box-top:before {display:block;font-family:'Arial';position:absolute;font-size:90px;color:#e7e7e7;line-height:80px;}
.jinju-box .box-top:before {content:'“';left:22px;top:25px;}
.jinju-box .box-top:after {content:'”';right:22px;bottom:-20px;}
.jinju-box .box-ctt {background-color:#f9f9f9;padding:20px 50px;color: #999}
.jinju-box .box-btm {text-align:center;background-color:#e8e8e8;height:84px;padding:15px 0;}
.jinju-box .box-btm a {font-size:16px;padding:15px 22px;border-radius:3px;display:inline-block;background-color:#cacaca;color:#fff;}
.jinju-box .box-btm a:hover{background-color:#3498db;}

/*footer*/
.footer {position: relative ;background-color: #2d3237;padding-top: 5px;min-width: 1170px;}

footer .copy-right {margin-top: 35px;position: relative;}
footer .copy-right span {
    line-height: 28px;
    margin-bottom: 30px;
    display: block;
    margin-top: 10px;
}
footer .copy-right, footer .copy-right span a {color: #707682;font-size: 12px;}
footer .copy-right a {height: 40px;color: #6b6e81;}
footer .copy-right a:hover {color: #b2bae1;}
footer .footer-tag-list a{font-size: 14px;margin-right: 15px;}
footer .footer-icon-list{position: absolute;top: 18px;right: 0px;}
footer .footer-icon-list ul li{position: relative;float: left;width: 40px;height: 40px;background-color: #343a40;text-align: center;border-radius: 20px;margin-left: 20px;}
footer .footer-icon-list ul li:before {
    content: ""; position:absolute;z-index: 0;
    width: 40px; height: 40px;border-radius: 50%;opacity: 0;
    -webkit-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    -moz-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    -ms-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    -o-transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);}

footer .footer-icon-list ul a:nth-child(1) li:before{background-color: #f74864;}
footer .footer-icon-list ul a:nth-child(2) li:before{background-color: #1ec354;}
footer .footer-icon-list ul a:nth-child(3) li:before{background-color: #7b8894;}
footer .footer-icon-list ul a:nth-child(4) li:before{background-color: #93e64f;}
footer .footer-icon-list ul a:nth-child(5) li:before{background-color: #3091f4;}
footer .footer-icon-list ul a:nth-child(6) li:before{background-color: #ff9000;}
footer .footer-icon-list ul li:hover:before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);}

footer .footer-icon-list .app-qrcode{
    display: none;
    position: absolute;
    width: 130px;
    height: 130px;
    margin-top: -141px;
    box-shadow: 0 0 6px rgba(14, 22, 30, 0.30);
    z-index: 10;
    margin-left: -45px;}


footer .footer-bull{
    position: relative;
    font-size: 20px;
    margin: 0 15px;
    top: 2px;
}
footer .bull-right{
    font-style: normal;
}
footer .bull-em{
    font-style: normal;
    margin-left: 15px;
}
.icon-aliyun{
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-image: url(img/aliyun.png);
    top: 8px;
    left: 10px;
    margin-right: -4px;
}

footer .footer-icon-list .app-qrcode:before{
    content: '';  display: block; position: absolute; width: 0; height: 0; border: 8px solid transparent; border-top: 10px solid rgba(0,0,0,.3);top: 130px;left: 56px;}

footer .footer-icon-list .app-qrcode:after{
    content: ''; display: block;position: absolute;  width: 0; height: 0; border: 8px solid transparent; border-top: 10px solid #fff; top: 129px; left: 57px;}

.go-top {background:#f3f3f3; width: 60px;height: 60px; position: fixed;left: 1270px;bottom: 140px;cursor: pointer;display: none;}
.go-top:hover {background-color: #e8e8e8;}
.go-feedback{display: block;bottom: 210px;background-color: #f63756;color: #fff;font-size: 16px;text-align: center;padding: 8px;z-index: 10;}
.go-feedback:hover{background-color: #f12c4c;}
.feedback-box{position: fixed;display: none;left: 760px;width: 500px;height: 460px;box-shadow: 0 0 6px rgba(17, 40, 62, 0.51); z-index: 1000; background-color: #fff; padding: 0 40px 40px 40px;bottom: 20px;}
.feedback-box .close-box{padding: 20px 0;margin-right: -20px;cursor: pointer;}
.footer .modal-backdrop{display:none;z-index: 11}
.feedback-box textarea,.feedback-box input{border-radius: 0;font-size: 16px;border-color: #f0f0f0;box-shadow: none;}
.feedback-box textarea{height: 190px;min-height: 190px;max-height: 190px;max-width: 100%;margin-top: 60px;}
.feedback-box input{height: 60px;margin: 20px 0;}
.feedback-box input::-webkit-input-placeholder,.feedback-box textarea::-webkit-input-placeholder {color: #bbb; text-overflow: ellipsis;}
.feedback-box input:-moz-placeholder,.feedback-box textarea::-webkit-input-placeholder {color: #bbb !important; text-overflow: ellipsis;}
.feedback-box input::-moz-placeholder,.feedback-box textarea::-webkit-input-placeholder {color: #bbb !important; text-overflow: ellipsis;} /* for the future */
.feedback-box input:-ms-input-placeholder,.feedback-box textarea::-webkit-input-placeholder {color: #bbb !important; text-overflow: ellipsis;}
.will-choose{position: absolute;color: #f63756;font-size: 20px;margin-top: 55px;margin-left: -20px;}
.will-choose-error{position: relative;color: #f63756;font-size: 16px;top:33px;left:20px;color:#f63756;font-size: 16px;display: none;}

/*管理员操作*/
.btn-gray {color: #fff; margin-left: 10px; background-color: #3ca5f6; border-color: #fff; font-size: 14px;}
.btn-gray:hover {background-color: #2f99ea;color: #fff;}
.js-text{width: 85%;}
#ignoreModal .modal-body .new-lb { margin: 5px 0;display: block;}
#ignoreModal .modal-body .reason-edit-box .new-lb {position: relative;}
#ignoreModal .modal-body .reason-edit-box .new-lb span { position: absolute;left: 0;top: -14px;font-size: 40px;color: #333;}
#ignoreModal .modal-body .reason-edit-box .new-lb input {margin-left: 20px; width: 90%;margin-bottom: 0;}
.modal-body label {font-weight: normal;}


#push_box_zt .btn-blue {width: auto;height: 34px;padding: 2px 20px;margin-top: 10px;}
#push_box_three_party .checkbox-inline {margin-right: 12px;}
#push_box_three_party .checkbox-inline input[type='checkbox'] {margin-top: 5px;}
#push_box_zt ul.form-control {width: 48%;float: left; height: 200px;overflow-y: auto;padding-left: 0;}
#push_box_zt ul.form-control:first-child {margin-right: 3%;}
#push_box_zt ul.form-control li {line-height: 24px;cursor: pointer;padding-left: 8px;}
#push_box_zt ul.form-control li.active {background-color: #51ABEE;color: #fff;}

.btn.active, .btn:active{box-shadow: none;}
[data-toggle=buttons]>.btn input[type=checkbox],
[data-toggle=buttons]>.btn input[type=radio],
[data-toggle=buttons]>.btn-group>.btn input[type=checkbox],
[data-toggle=buttons]>.btn-group>.btn input[type=radio],
[data-toggle=buttons]>.btn input[type=radio]{position: relative;}

@-webkit-keyframes scale-fade {
    0% { opacity: 0; -webkit-transform: scale(.8) rotateX(-40deg);transform: scale(.8) rotateX(-40deg);}
    50% {opacity: 1;}
    70% {-webkit-transform: scale(1.05) rotateX(0deg); transform: scale(1.05) rotateX(0deg)  }
    100% { -webkit-transform: scale(1) rotateX(0deg);transform: scale(1) rotateX(0deg);}
}

@keyframes scale-fade {
    0% { opacity: 0;-webkit-transform: scale(.8) rotateX(-40deg);transform: scale(.8) rotateX(-40deg); }
    50% {opacity: 1;}
    70% {-webkit-transform: scale(1.05) rotateX(0deg);transform: scale(1.05) rotateX(0deg);}
    100% {-webkit-transform: scale(1) rotateX(0deg); transform: scale(1) rotateX(0deg);}
}
/*分页*/
.pagebar{margin: 0 auto;width: 100%;margin-top: 10px;text-align: center;height: 40px;}
.pagebar a{padding: 7px;margin-right: 2px;border: 1px solid #ddd;color: #333333;}
.pagebar a:hover, .pagebar a:hover{background-color: #0099CC;border: 1px solid #0099CC;color: #FFFFFF;}
.pagebar .now-page{background-color: #65B5F0;padding: 7px;margin: 0 auto;border: 1px solid #65B5F0;color: #FFFFFF;}
/*评论*/
.pl-form-box p{margin: 10px 0 10px 0;}
.pl-form-box p input{width: 40%;height: 27px;}
.pl-form-box p textarea{width: 80%;height: 140px;}
.pl-form-box p .button{width: 55px;height: 30px;background-color: #65B5F0;color: #fff;border-radius: 5px;}
.pl-form-box{width: 100%;height: auto;margin-bottom:10px;}
.pl-form-box ul{list-style-type: none;padding: 0;margin: 0;}
.pl-form-box ul ul{padding: 10px;padding-bottom: 5px;}
.commentone{display: block;}
.commentone .image{width: 40px;height: auto;float: left;padding-top: 10px;}
.commentone .image img{width: 40px;height: 40px;}
.commentone ul{overflow: hidden;display: block;}
.commentone ul li span{font-size: 14px;}
.commentpagebar{width: 100%;height: auto;text-align: center;}